<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header><%- include('../partials/header'); %></header>
  <main>
    <div class="jumbotron">
      <form>
        <div class="form-group row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-check-square"></i>
                </div>
              </div>
              <input id="etapa" name="etapa" placeholder="Etapa" type="text" class="form-control" required="required">
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-users"></i>
                </div>
              </div>
              <input id="estrutura" name="estrutura" placeholder="Estrutura" type="text" class="form-control"
                required="required">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-hourglass-start"></i>
                </div>
              </div>
              <input id="hr_in" name="hr_in" placeholder="Início atividade" type="text" class="form-control"
                required="required">
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-hourglass-end"></i>
                </div>
              </div>
              <input id="hr_fim" name="hr_fim" placeholder="Fim atividade" type="text" class="form-control"
                required="required">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-cab"></i>
                </div>
              </div>
              <input id="sgd" name="sgd" placeholder="Apoio" type="text" class="form-control" required="required">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-flash"></i>
                </div>
              </div>
              <input id="sgd" name="sgd" placeholder="Tipo de SGD" type="text" class="form-control" required="required">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-sort-numeric-asc"></i>
                </div>
              </div>
              <input id="equipamento" name="equipamento" placeholder="Dispositivo(s)" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-hourglass-start"></i>
                </div>
              </div>
              <input id="sgd_in" name="sgd_in" placeholder="Início desligamento" type="text" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-hourglass-end"></i>
                </div>
              </div>
              <input id="sgd_fim" name="sgd_fim" placeholder="Fim desligamento" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-flash"></i>
                </div>
              </div>
              <input id="alimentador" name="alimentador" placeholder="Alimentador" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-map-marker"></i>
                </div>
              </div>
              <input id="logradouro" name="logradouro" placeholder="Logradouro" type="text" class="form-control"
                required="required">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-map-marker"></i>
                </div>
              </div>
              <input id="bairro" name="bairro" placeholder="Bairro" type="text" class="form-control"
                required="required">
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-map-marker"></i>
                </div>
              </div>
              <!-- <input id="municipio" name="municipio" placeholder="Município" type="text" class="form-control" required="required"> -->
              <input class="form-control" list="municipio" id="exampleDataList" placeholder="Município">
              <datalist id="municipio">
                <option value="ITABORAÍ">
                <option value="SÃO GONÇALO">
                <option value="RIO BONITO">
                <option value="TANGUÁ">
              </datalist>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="observacoes" class="col-3 col-form-label">Observações:</label>
          <div class="col-12">
            <textarea id="observacoes" name="observacoes" cols="40" rows="2" class="form-control"
              required="required"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="descricao" class="col-6 col-form-label">Descrição do Serviço:</label>
          <div class="col-12">
            <textarea id="descricao" name="descricao" cols="40" rows="5" class="form-control"
              required="required"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-3 col-9">
            <button name="submit" type="submit" class="btn btn-primary botao">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </main>

  <footer><%- include('../partials/footer'); %></footer>
</body>

</html>